/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #1d243d;
  }
  
  /* Header Styles */
  
  header {
    background-color: #737ba5;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  header nav a:hover {
    color: #ccc;
  }
  
  /* Main Styles */
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  main h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  main p {
    margin-bottom: 20px;
  }
  
  /* Form Styles */
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #eaa64d;
    color: #1d243d;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #444;
  }